.scroll {
    max-height: 600px;
    overflow-y: auto;
}

.scroll-all {
    width: 100%;
    height: 450px;
    max-height: 450px;
    overflow-y: scroll;
}

.cell {
    height: 20;
    width: 20;
    border-width: thin;
    border-color: black;
    border-radius: 1px;
}